.box{
    position: absolute;
    left: -100%;
    top:-100%;
    transform: translateX(-50%) translateY(-50%);
    width:150px;
    height:150px;
    background-color: rgb(67, 145, 213);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    animation: tob 2s;
    animation-fill-mode: forwards;
}

@keyframes tob{
    100%{
        left:50%;
        top:50%;
    }
}

